[submodule "Frontend"]
	path = Frontend
	url = ../Frontend
[submodule "RelationGraph"]
	path = RelationGraph
	url = ../RelationGraph
[submodule "PrometheusSchema"]
	path = PrometheusSchema
	url = ../PrometheusSchema
[submodule "JaegerDiscovery"]
	path = JaegerDiscovery
	url = ../JaegerDiscovery
[submodule "DBDaemon"]
	path = DBDaemon
	url = ../DBDaemon
[submodule "Auth"]
	path = Auth
	url = ../Auth
[submodule "JaegerAnomalyDetection"]
	path = JaegerAnomalyDetection
	url = ../JaegerAnomalyDetection
[submodule "K8sDiscovery"]
	path = K8sDiscovery
	url = ../K8sDiscovery
[submodule "Documentation"]
	path = Documentation
	url = ../Documentation
[submodule "DBSchema"]
	path = DBSchema
	url = ../DBSchema
[submodule "Rpc"]
	path = Rpc
	url = ../Rpc
[submodule "LockDebug"]
	path = LockDebug
	url = ../LockDebug
[submodule "Tsify"]
	path = Tsify
	url = ../Tsify
[submodule "Actix-Web"]
	path = Actix-Web
	url = ../Actix-Web
[submodule "Apistos"]
	path = Apistos
	url = ../Apistos
[submodule "ApistosSchemaRs"]
	path = ApistosSchemaRs
	url = ../ApistosSchemaRs
[submodule "SmartAgent"]
	path = SmartAgent
	url = ../SmartAgent
[submodule "Graph"]
	path = Graph
	url = ../Graph
[submodule "Wrapper"]
	path = Wrapper
	url = ../Wrapper
[submodule "PrometheusRemoteWrite"]
	path = PrometheusRemoteWrite
	url = ../PrometheusRemoteWrite
